{erl_first_files, ["op_exch", "op_exch_mod"]}.
%%{sub_dirs, ["rel"]}.
{deps, [
  {mochiweb, {git,"git://github.com/mochi/mochiweb.git", {branch, "master"}}},
  {webtekcos, {git, "git://github.com/hpyhacking/webtekcos.git", {branch, "master"}}}
]
}.

{plugins, [
  rebar3_run,
  {rebar3_erlydtl_plugin, ".*", {git, "https://github.com/tsloughter/rebar3_erlydtl_plugin.git", {branch, "master"}}},
  {rebar3_gpb_plugin, "2.12.5" }
]}.

{shell, [
  {config, "config/sys.config"},
  {vm_args, "config/vm.args"},
    {apps, [openpoker]}
]}.
