{erl_opts, [debug_info, {parse_transform, lager_transform}]}.
{erl_first_files, ["op_exch", "op_exch_mod"]}.
{sub_dirs, ["rel"]}.
{deps, [
	{mochiweb, ".*", {git, "git://github.com/mochi/mochiweb.git", {branch, "master"}}},
	{webtekcos, ".*", {git, "https://github.com/hpyhacking/webtekcos.git", {branch, "master"}}},
	{cowboy, {git, "https://github.com/ninenines/cowboy.git", {tag, "2.7.0"}}},
	{lager, {git, "git@github.com:erlang-lager/lager.git", {tag, "3.8.0"}}},
	{gun, {git, "git@github.com:ninenines/gun.git", {branch, "master"}}}
	]
}.

{shell, [
	{config, "config/sys.config"},
	{apps, [mnesia, openpoker, mochiweb, webtekcos, cowboy]}
]}.

{relx, [{release, {openpoker, "1.0.0"},
	[   kernel,
		stdlib,
		sasl,
		crypto,
		mnesia,
		openpoker,
		mochiweb,
		webtekcos,
		observer,
		wx,
		cowboy,
		runtime_tools,
		gun
	]},

	{sys_config, "config/sys.config"},
	{dev_mode, false},
	{include_erts, true},
	{extended_start_script, true}]
}.